<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="17.0.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="17.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1108.44" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net461" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="98.0.4758.8000" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="4.0.0" targetFramework="net461" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net461" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net461" />
  <package id="WebDriverIEDriver" version="2.45.0.0" targetFramework="net461" />
</packages>